<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		
    </style>
</head>
<body>
    <div class="login-form">
        <h1>Để sử dụng dịch vụ, bạn hãy xác thực email bằng cách click vào đường link chúng tôi đã gửi vào email của bạn.</h1>
    </div>
</body>
</html>